<ul id="sidenav" class="nav nav-tabs nav-stacked">
  <li><a href="index.html"><i class="icon-home"></i>  Dashboard</a></li>
  <li class="active"><a href="plan_manager.html"><i class="icon-th-list"></i>  Planes</a></li>
  <li><a href="schedule_manager.html"><i class="icon-calendar"></i>  Calendario</a></li>
  <li><a href="member_manager.html"><i class="icon-group"></i>  Subscripciones</a></li>
  <li><a href="notifications.html"><i class="icon-comments"></i>  Notificaciones</a></li>
  <li><a href="site_manager.html"><i class="icon-sitemap"></i>  Configurar Sitio Web</a></li>
  <li><a href="#"><i class="icon-bar-chart"></i>  Reportes</a></li>
</ul>

