<ul id="sidenav" class="nav nav-tabs nav-stacked">
  <li>
    <a href="#"><i class="icon-home"></i>  Dashboard</a>
  </li>
  <li>
    <a href="site_manager.html"><i class="icon-sitemap"></i>  Site Manager</a>
  </li>
  <li class="active">
    <a href="plan_manager.html"><i class="icon-th-list"></i>  Plan Manager</a>
  </li>
  <li>
    <a href="schedule_manager.html"><i class="icon-calendar"></i>  Schedule Manager</a>
  </li>
  <li>
    <a href="#"><i class="icon-time"></i>  Subscription Manager</a>
  </li>
  <li>
    <a href="#"><i class="icon-comments"></i>  Notification Center</a>
  </li>
  <li>
    <a href="#"><i class="icon-group"></i>  Member Manager</a>
  </li>
  <li>
    <a href="#"><i class="icon-user"></i>  Reports</a>
  </li>
  
</ul>

